PORT = 3000
# DB_URL = mongodb://localhost:27017/noteapi
DB_URL = your-mongodb-connection-string-here

#JWT
JWT_SECRET= your-jwt-secret-key
JWT_EXPIRES_IN= your-jwt-expiration-time

#Hashing
ROUNDS=your-hashing-rounds


#Cloudinary
CLOUD_NAME=your-cloudinary-cloud-name
CLOUD_API_KEY=your-cloudinary-api-key
CLOUD_API_SECRET=your-cloudinary-api-secret
CLOUD_FOLDER_NAME=your-cloudinary-folder-name

CLIENT_URL=your-client-url-here